@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  background: #d3f1f5;
  color: rgb(53, 53, 53);
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  cursor:  none
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
}


.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label::before,
.menu-icon:checked + label::after {
  display: block;
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: #ffffff;
}
 

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #4f7d8b;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  display: inline-block;
  position: relative;
}
.nav ul li a:hover{
  text-decoration: none;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  width: 0;
  left: 0; 
  background-color: #8fe5ff; 
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto; 
	display: block;
}



.Cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  filter: url("#goo");
  mix-blend-mode: difference;
}

.Cursor span {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #552353;
  transform: translate(-50%, -50%);
}

.liquid-nav {
  position: relative;
  height: 64px;
  margin: 40px auto;
  border-radius: 999px;
  overflow: hidden;
}

/* Glass layer */
.liquid-glass {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(18px) saturate(160%);
  -webkit-backdrop-filter: blur(18px) saturate(160%);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.05)
  );
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.25),
    inset 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Content */
.nav-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.nav-content li {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.nav-content li:hover {
  opacity: 0.7;

}
.waqas {
  font-weight: bold;
  background: linear-gradient(270deg, #6effff, #47b5bd, #73baf3, #76b7e2); 
  background-size: 800% 800%; 
   filter : drop-shadow(0 0 12px rgb(158, 233, 243)); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: gradientAnimation 38s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
 
.cta {
  position: relative; 
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}
 
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.me{
  filter: drop-shadow(0 0 22px rgb(143, 252, 243)); 
}
.cta span {
  position: relative;
   color: #234567; 
   font-weight: 600;
}  

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px); 
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.slider {
  overflow: hidden;
  padding: 2em 0;
}

.slide-track {
  display: flex;
  gap: 3em;
  animation: scroll 80s linear infinite;
}

.slide {
  flex: 0 0 auto;
}

.img {
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional: gradient overlays */
.slider::before,
.slider::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4em;
  pointer-events: none;
  z-index: 10;
}

.slider::before {
  left: 0;
}

.slider::after {
  right: 0;
}

